<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>销售管理</title>
  <!--<link name="shortcut-icon" rel="icon" href="<%=process.env.PUBLIC_PATH%><%=process.env.SUB_DIR%>/img/favicon.ico" type="image/x-icon" />-->
  <!--<link name="shortcut-icon" rel="shortcut icon" href="<%=process.env.PUBLIC_PATH%><%=process.env.SUB_DIR%>/img/favicon.ico" type="image/x-icon"/>-->
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1017971_yydxphjz79d.css">
  <link rel="stylesheet" href="//cnstatic01.e.vhall.com/3rdlibs/element-ui/2.4.9/index.css">
  <link rel="stylesheet" href="//www.vhall.com/public/static/css/muse-ui.css">
  <!-- <link rel="stylesheet" href="//t-static01-open.e.vhall.com/jssdk/videojs.min.css?v=1.1.222"> -->
  <link rel="stylesheet" href="//static.vhallyun.com/jssdk/videojs.min.css?v=20181013123123">
</head>

<body>
  <div id="root"></div>
  <script src="https://cnstatic01.e.vhall.com/3rdlibs/jquery/1.11.2/jquery.min.js" type="text/javascript"></script>
  <% if(process.env.BUILD_ENV!='prod') { %>
  <script src="//cnstatic01.e.vhall.com/3rdlibs/vue/2.5.16/vue.js"></script>
  <% } else { %>
  <script src="//cnstatic01.e.vhall.com/3rdlibs/vue/2.5.16/vue.js"></script>
  <% } %>
  <script src="//cnstatic01.e.vhall.com/3rdlibs/element-ui/2.4.9/index.js"></script>
  <script src="//cnstatic01.e.vhall.com/3rdlibs/yidun/captcha/load.min.js"></script>
  <script src="https://static.vhallyun.com/jssdk/vhall-jssdk-chat-1.0.0.js?v=20181013123123"></script>
  <!-- <script src="https://t-static01-open.e.vhall.com/jssdk/vhall-jssdk-chat-1.0.0.js?v=20181023"></script> -->
</body>

</html>
