
.el-select{
  .el-input__inner {
    border: none;
    background-color: transparent;
  }
  color: #555;
  input{
    color: #555;
  }
}
.el-select-dropdown{
  .popper__arrow{
    display: none;
  }
  &.el-popper[x-placement^=bottom] {
    margin-top: -4px;
  }
  .el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
    background:rgba(240,241,254,1);
  }
  .el-select-dropdown__item.selected {
    color: #4B5AFE;
  }
}
