/**
 * ****************************************
 * *************** 布局相关尺寸 *************
 * ****************************************
 */
// 页面整理的宽度 是 1200 还是自适应
$site-width: 80%;

/**
 * ****************************************
 * *************** 颜色定义规范 *************
 * ****************************************
 */
// 字体颜色
$cl-txt: #fff;
$cl-theme: #ffd900;
$cl-theme-d: #ffd617;

// 颜色定义规范
$color-bg: #fff;
$color-bd: #e5e5e5;
$color-background-d: rgba(0, 0, 0, 0.3);
$color-highlight-background: #333;
$color-dialog-background: #666;
$color-theme: #ffcd32;
$color-theme-d: rgba(255, 205, 49, 0.5);
$color-sub-theme: #d93f30;
$color-text: #fff;
$color-text-d: rgba(255, 255, 255, 0.3);
$color-text-l: rgba(255, 255, 255, 0.5);
$color-text-ll: rgba(255, 255, 255, 0.8);


/**
 * ****************************************
 * *************** 字体定义规范 ************
 * ****************************************
 */
// 普通屏幕字体大小
$fz-st: 10px;
$fz-sr: 12px;
$fz-sm: 14px;
$fz-md: 16px;
$fz-lg: 18px;
$fz-lr: 22px;
$fz-lt: 36px;


