
// 页面整理的宽度 是 1200 还是自适应
$site-width: 80%;


// 常用颜色
$color-default: #FFD021;
$color-blue: #4B5AFE;
$color-red: #FC5659;
$color-gray: #888;
$color-error: #FC5659;

// 常用hover颜色
$color-default-hover: #FFD437;
$color-blue-hover: #5D6AFE;
$color-red-hover: #FC6769;

// 颜色定义规范
$color-bg: #fff;
$color-bd: #e2e2e2;
$color-bg-btn: $color-default;

// 字体颜色
$color-font: #222;
$color-font-sub: #555;
$color-font-hover: $color-default;
$color-font-time: #666;
$color-font-icon: #555;


// 普通屏幕字体大小
$fz-st: 10px;
$fz-sr: 12px;
$fz-sm: 14px;
$fz-md: 16px;
$fz-lg: 18px;
$fz-lr: 22px;
$fz-lt: 36px;


