@import "assets/css/mixin.scss";
.data-box{
  .title {
    font-size: 16px;
    margin: 20px 0 10px 0;
    padding: 10px 0;
    font-weight: bold;
    border-bottom: solid 1px $color-bd;
  }
  .data-link{
    user-select: none;
    color: #4B5AFE;
    &:hover{
      cursor: pointer;
      color: $color-blue-hover;
    }
  }
  .item-container {
    .item-box {
      border: solid 1px $color-bd;
      border-radius: 4px;
      padding: 10px;
      box-sizing: border-box;
      height: 124px;
      width: 100%;
      margin: 10px 0;
      font-size: 14px;
      .item-title {
        display: block;
        text-align: center;
        font-size: 18px;
      }
      .item-mid {
        height: 60px;
        line-height: 60px;
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        span {
          display: inline-block;
          border: solid 1px $color-bd;
          font-size: 14px;
          line-height: 24px;
          padding: 0 10px;
          border-radius: 4px;
          vertical-align: 5px;
          font-weight: 400;
        }
      }
      .item-bottom {
        text-align: center;
        span {
          padding: 0 5px;
          .down {
            color: $color-red;
          }
          .up {
            color: green;
          }
        }
      }
    }
    .hd-data-item{
      width: calc(50% - 10px);
      text-align: left;
      font-size: 0;
      .hd-title{
        display: block;
        font-size: 16px;
        font-weight: bold;
        line-height: 38px;
      }
      .hd-data{
        display: inline-block;
        width: 33.333%;
        line-height: 30px;
        span:first-child{
          font-size: 24px;
          font-weight: bold;
          padding-right: 6px;
        }
        span:last-child{
          font-size: 14px;
        }
      }
    }
  }
  .chart-container {
    display: flex;
    justify-content: space-between;
    .chart-box{
      width: 32%;
      .title{
        position: relative;
        padding: 5px 10px 0 10px;
        margin: 10px 0;
        font-weight: normal;
        border: none;
        .chart-menu/deep/{
          display: inline-block;
          position: absolute;
          top: 0;
          right: 0;
          .nav-menu-box{
            height: 30px;
            line-height: 30px;
          }
        }
      }
    }
  }
  .msg-table-box{
    position: relative;
    padding: 40px 0 10px 0;
    .table-box{
      min-height: 100px;
      max-height: 400px;
      overflow-x: hidden;
      overflow-y: auto;
    }
    .export-btn{
      position: absolute;
      top: -5px;
      right: 0;
      height: 34px;
      line-height: 1;
      z-index: 2;
    }
  }
}
