.wrap-page {
  border-radius: 5px;
  overflow: hidden;
  padding-bottom: 30px;
  margin: 0 auto;
  color: #222;

  /* 设备宽度大于 1600 */
  @media all and (min-width: 1600px) {
    width: 1366px;
  }

  /* 设备宽度小于 1600px */
  @media all and (max-width: 1600px) {
    width: 1019px;

    .content .handle-filter .selected {
      max-width: 880px !important;
    }

    .from-row .from-content .com-input {
      width: 320px !important;
      ;
    }
  }

  .page-title {
    position: relative;
    // border-bottom: 1px solid $color-bd;
    line-height: 40px;
    margin-top: 40px;
    margin-bottom: 15px;

    span.title {
      display: inline-block;
      font-size: 24px;
    }
  }

  .content {
    font-size: 14px;
    width: 100%;
    padding: 30px;
    background: rgba(255, 255, 255, 1);
    border-radius: 4px;
    border: 1px solid rgba(226, 226, 226, 1);
    min-height:550px;
    .table-box {
      margin-top: 20px;

      .img {
        width: 60px;
        height: 60px;
        border-radius: 4px;
      }
    }

    .empty-box {
      text-align: center;
      color: $color-font-sub;
      min-height: 400px;
      padding: 100px 0;

      .img {
        width: 150px;
        height: 150px;
        margin: 0 auto 20px;
        border-radius: 500px;
        // background:rgba(245,245,245,1);
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.02);
        background: url('~assets/image/cards-empty.png') no-repeat;
        background-size: contain;
      }

      .title {
        font-size: 18px;
        color: $color-font;
        padding-top: 13px;
      }

      .desc {
        display: block;
        width: 340px;
        margin: 0 auto;
        padding: 20px 0;
      }

      a {
        display: block;

        &:hover .el-button {
          color: $color-font;
        }
      }

      .el-button {
        padding: 0;
        width: 220px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        margin-top: 10px;

      }
    }
  }
}
