@import "~assets/css/mixin.scss";

.live-mager {
  border: 1px solid $color-bd;
  background-color: $color-bg;
  border-radius: 5px;
  overflow: hidden;
  padding-bottom: 30px;
  .live-title {
    border-bottom: 1px solid $color-bd;
    line-height: 50px;
    span {
      display: inline-block;
      margin-left: 20px;
    }
    .live-btn{
      position: relative;
      top: 5px;
    }
  }
  .search-box{
    width: 300px;
    float: right;
  }
  .live-btn{
    margin-right: 20px;
  }
  .live-search{
    padding: 30px 20px 20px 20px;
    .el-select:nth-child(2){
      margin-left: 10px;
    }
  }
  .pagination-box {
    width: 100%;
    overflow: hidden;
  }
  .page-pagination {
    margin: 30px 10px 20px 0;
    float: right;
  }
  .mager-box{
    font-size: 14px;
    .from-box{
      margin: 20px;
      .from-row{
        display: flex;
        padding: 10px;
        .from-title{
          width: 180px;
          text-align: right;
          padding-right: 20px;
          .star{
            position: relative;
            top: 3px;
            color: $color-error;
            padding-right: 5px;
          }
        }
        .from-content{
          flex: 1;
          .input-box{
            width: 400px;
          }
        }
      }
    }
    .msg-tip{
      position: relative;
      left: 10px;
      @include border;
      padding: 5px 10px;
      margin-right: 10px;
    }
  }
  .upload-video{
    position: relative;
    .upload-tips{
      display: inline-block;
      width: 400px;
      vertical-align: top;
      margin-left: 10px;
      span{
        display: block;
        &.error{
          color: $color-error;
          line-height: 30px;
          margin-top: 8px;
        }
      }
    }
  }
  .play-box{
    background-color: #e5e5e5;
    width: 600px;
    height: 337.5px;
    line-height: 300px;
    text-align: center;
  }
  .upload-file-box{
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    color: #999;
    text-align: center;
    overflow: hidden;
    .iconfont{
      display: inline-block;
      margin-top: 44px;
      font-size: 30px;
    }
    span{
      display: block;
    }
    .upload-file-botton{
      position: absolute;
      bottom: -30px;
      left: 0;
      height: 30px;
      width: 100%;
      line-height: 30px;
      background-color: rgba(0,0,0,0.5);
      color: #fff;
      transition: bottom .5s;
      z-index: 10;
    }
    &:hover{
      transition: border .3s;
      opacity: .8;
      border-style: solid;
      .upload-file-botton{
        bottom: 0;
      }
    }

  }
  .upload-file-box{
    .temp-img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
    }
    .el-progress--circle {
      margin-top: 12px;
    }
  }
}
